node_modules
.next
dist
build
.env.local
.env.*.local
.turbo
**/.git
**/.github
Dockerfile
docker-compose.yml
README.md
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-lock.yaml
*.log
coverage
/.vscode
.pnpm-store
/.idea
*.tsbuildinfo
public/static
!.next/static
